.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  background-color: #ddd;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: #fff;
  border: 1px solid #aaa;
  cursor: pointer;
}

.reset-btn, .reset-scorecard-btn , .autoplay-btn{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}